/* Pon tu código css aqui */
.contenedor {
	border: 1px solid black;
	width: 700px;

}

.yellow {
	width: 25%;
	height: 100px;
	background-color: yellow;
	float: left;
}

.blue {
	width: 25%;
	height: 100px;
	background-color: blue;
	float: left;
}

.red {
	width: 25%;
	height: 100px;
	background-color: red;
	float: left;
}

.contenedor:after {
	content:"";
	clear: both;
	display: block;
}
